.popup__form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.popup__form__field {
  position: relative;
}

.message__error {
  color:red;
  position:absolute;
  left: 0;
  top: 110%;
  width: 100%;
  font-size: 80%;
  z-index: 1;
}

.popup__form__field {
display: block;
height: 100%;
overflow: visible;
}